.c-select-a11y {
  position: relative;
}

.c-select-a11y__button {
  align-items: baseline;
  background-color: var(--input-color-background, #fff);;
  border-width: var(--size-border, .0625em);
  border-style: var(--style-border, solid);
  border-color: var(--color-border, #333);
  border-radius: var(--input-radius, .125em);
  color: var(--input-color-text, #333);
  display: flex;
  padding: var(--input-space-y, .5em) var(--input-space-x, 1em);
  text-transform: inherit;
  font-family: var(--font-family-interface, 'sans-serif');
  text-align: left;
  width: 100%;
}

.c-select-a11y__button:hover {
  background-color: var(--input-color-background-hover, #fff);
  cursor: pointer;
}

.c-select-a11y__button:focus {
  background-color: var(--input-color-background-hover, #fff);
}

.c-select-a11y__button .c-select-a11y__icon--select {
  content: "";
  display: inline-block;
  background-image: var(--icon-down, url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor'%3E%3Cpath d='M17.8 9.225c.3.3.3.9 0 1.2l-5.2 5.2c-.2.1-.4.2-.6.2-.2 0-.4-.1-.6-.2l-5.2-5.2c-.1-.2-.2-.4-.2-.6 0-.2.1-.4.2-.6.3-.3.9-.3 1.2 0l4.6 4.6 4.6-4.6c.3-.3.8-.3 1.2 0z'/%3E%3C/svg%3E"));
  background-repeat: no-repeat;
  background-position: 50%;
  height: var(--icon-size-y, 1em);
  width: var(--icon-size-x, 1em);
  position: relative;
  left: calc(var(--input-space-x, 1em) / 2);
  vertical-align: baseline;
  margin-left: auto;
}

.c-select-a11y__button[aria-expanded="true"] .c-select-a11y__icon--select {
  background-image: var(--icon-up, url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor'%3E%3Cpath d='M17.8 14.6c.3-.3.3-.9 0-1.2l-5.2-5.2c-.2-.1-.4-.2-.6-.2-.2 0-.4.1-.6.2l-5.2 5.2c-.1.2-.2.4-.2.6 0 .2.1.4.2.6.3.3.9.3 1.2 0L12 10l4.6 4.6c.3.3.8.3 1.2 0z'/%3E%3C/svg%3E"));
}

.c-select-a11y__button > span {
  font-family: inherit;
}

.c-select-a11y__container {
  position: absolute;
  background-color: var(--input-color-background, #fff);
  z-index: 1;
  box-shadow: 0 1px 2px #00000033;
  padding: var(--input-space-y, .5em) calc(var(--input-space-x, 1em) / 2);
  width: 100%;
}

.c-select-a11y__search {
  background-image: var(--icon-search, url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='currentColor'%3E%3Cpath d='M20 18.8c0 .3-.1.6-.4.9-.2.2-.5.4-.9.4-.3 0-.6-.1-.9-.4l-3.3-3.3c-1.1.8-2.4 1.2-3.8 1.2-.9 0-1.8-.2-2.6-.5-.8-.4-1.6-.8-2.2-1.4-.6-.6-1.1-1.3-1.4-2.2-.3-.9-.5-1.8-.5-2.7 0-.9.2-1.8.5-2.7.4-.8.9-1.5 1.5-2.1.6-.6 1.3-1.1 2.2-1.4.8-.4 1.7-.6 2.6-.6.9 0 1.8.2 2.6.5.8.4 1.6.9 2.2 1.5.6.6 1.1 1.3 1.4 2.2.4.8.5 1.7.5 2.6 0 1.4-.4 2.7-1.2 3.8l3.3 3.3c.3.2.4.5.4.9zm-6.2-5c.8-.8 1.3-1.9 1.3-3 0-1.2-.4-2.2-1.3-3-.8-.9-1.8-1.3-3-1.3s-2.2.4-3 1.3c-.8.8-1.3 1.9-1.3 3 0 1.2.4 2.2 1.3 3 .9.8 1.9 1.3 3 1.3 1.2 0 2.2-.4 3-1.3z'/%3E%3C/svg%3E"));
  background-repeat: no-repeat;
  background-position: right calc(var(--input-space-x, 1em) / 2) center;
  background-size: var(--icon-size-y, 1em) var(--icon-size-x, 1em);
  border-radius: var(--input-radius, .125em);
  display: block;
  padding: var(--input-space-y, .5em) calc(var(--input-space-x, 1em) / 2);
  margin-bottom: var(--input-space-y, .5em);
  width: 100%;
}

.c-select-a11y__suggestions {
  max-height: 60vh;
  overflow-y: auto;
}

.c-select-a11y__suggestion {
  background-color: var(--option-color-background, #fff);;
  display: block;
  cursor: pointer;
  padding: calc(var(--input-space-y, .5em) / 2) calc(var(--input-space-x, 1em) / 2);
}

.c-select-a11y__suggestion:hover {
  background-color: var(--option-color-background-hover, #eee);
  color: var(--option-color-text-hover, #000);
}
